// Кнопки для портфолио

.portfolio-buttons {
  display: flex;
  justify-content: center;
  &__item {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    margin-right: 8px;

    color: $title-text-color;
    background-color: $secondary-bg-color;
    font-family: inherit;
    font-style: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-bg-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// НЕ ПРИМЕНЯЕТСЯ
.portfolio-buttons {
  &__item {
    &:nth-last-child(5n) {
      margin-right: 0;
    }
  }
}
