// Навигация
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // min-height: 80px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav {
  &__link {
    position: relative;
    display: block;

    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: $title-text-color;
    transition: color 250ms $cubic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.site-nav {
  &__link--current {
    display: block;
    color: $accent-color;
  }
}

// подчеркивание на текущей странице

.site-nav {
  &__link--active {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;

      left: 0;
      bottom: 2px;
      height: 4px;
      width: 100%;
      background-color: $accent-color;
      border-radius: 2px;

      @media screen and (min-width: 1200px) {
        bottom: -1px;
      }
    }
  }
}
