$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$logo-first-color: #000000;
$backdrop-color: rgba(0, 0, 0, 0.2);
$primary-font: Roboto, sans-serif;
$seconadry-font: Raleway, sans-serif;
$icon-color: #afb1b8;
$border-bottom-line: #ececec;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
